<div class="card animated fadeIn fast">
    <img [src]="artist.img" class="card-img-top" [alt]="artist.name">
    <div class="card-body">
      <h5 class="card-title">{{ artist.name }}</h5>
      <p class="card-text">{{ artist.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ artist.appearance }}</small></p>
    
      <button (click)="showArtist()"
      type="button" class="btn btn-outline-success my-2 my-sm-0 btn-block">
          Ver más
      </button>
      <!--a [routerLink]="['/hero', i]" routerLinkActive="router-link-active"  class=" btn btn-outline-success">Ver más link...</a-->
    </div>
  </div>
